@model EnvironmentalProtectionSurvey.Models.Contest
@{
    ViewData["Title"] = "Take Contest";
}
<style>
    /* Custom CSS for contest page */
    /* Custom CSS for contest page */
    .contest-container {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 50px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .contest-form {
        margin-bottom: 20px;
    }

    .form-check {
        margin-bottom: 10px;
    }

    .submit-contest {
        margin-top: 10px;
    }

</style>


<div class="contest-container">

    @if (Model == null)
    {
        <p>Contest not found</p>
    }
    else
    {
        <center>
            <h3>@Model.Title</h3>
        </center>

        @if (Model.QuestionContests != null)
        {
            using (Html.BeginForm("TakeContest", "Contests", FormMethod.Post, new { @class = "contest-form" }))
            {
                <p>@ViewBag.Count</p>
                <form asp-action="TakeContest" method="post">
                @Html.HiddenFor(model => model.Id) <!-- Hidden field to pass the contest ID -->
                @{
                    var i = 1;
                }
                @foreach (var question in Model.QuestionContests)
                {
                        <h4> @i. @question.QuestionText</h4>
                         i++;
                        if (question.AnswerOptions != null)
                        {
                            foreach (var option in question.AnswerOptions)
                        {
                            <div class="form-check">
                                <input type="radio" name="selectedOptions[@question.Id]" value="@option" class="form-check-input" required />
                                <label class="form-check-label">@option</label>
                            </div>
                        }
                    }
                    else
                    {
                        <p>No answer options available for this question.</p>
                    }
                }
                <button type="submit" class="btn btn-primary submit-contest">Submit</button>
                </form>
            }
        }
        else
        {
            <p>No questions available for this contest.</p>
        }
    }
</div>
