@model EnvironmentalProtectionSurvey.Models.User

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>

<h4>User</h4>
<hr />

<h3>@ViewBag.msg</h3>
<h3>@ViewBag.confirmPassword</h3>
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="control-label">Email: </label>
                <input name="email" value="@(Model?.Email)" readonly class="form-control" />
            </div>


            <div class="form-group">
                <label  class="control-label">Password</label>
                <input asp-for="Password" name="password" type="password" placeholder="Enter your password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Confirm Password</label>
                <input name="confirmPassword" type="password" placeholder="Enter cofirm password" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@





<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Form</title>
    <!---Custom CSS File--->
    <link href="~/css/user/login.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        
        <div class="login form">
            <header>Change Password</header>

            <h3>@ViewBag.msg</h3>
            <h3>@ViewBag.confirmPassword</h3>
            <form asp-action="ChangePassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">Email: </label>
                    <input name="email" value="@(Model?.Email)" readonly class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input asp-for="Password" name="password" type="password" placeholder="Enter your password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input name="confirmPassword" type="password" placeholder="Enter cofirm password" class="form-control" />
                </div>

               @* <input type="text" placeholder="Enter your username" name="username">
                <input type="password" placeholder="Enter your password" name="password">
                <a asp-action="ForgetPassword">Forgot password?</a>*@
                <input type="submit" class="button" value="Submit">
            </form>
          @*  <div class="signup">
                <span class="signup">
                    Don't have an account?
                    <a asp-action="SignUp">Sign Up</a>
                </span>
            </div>*@
        </div>
    </div>
</body>
</html>