@model EnvironmentalProtectionSurvey.Models.User

<!DOCTYPE html>
<html>
<head>
	<title>Creative Colorlib SignUp Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- Custom Theme files -->
    <link href="~/css/user/signup.css" rel="stylesheet" />
	<!-- //Custom Theme files -->
	<!-- web font -->
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- //web font -->
</head>
<body>
	<!-- main -->
	<div class="main-w3layouts wrapper">
		<h1> Become a member of Environmental Survey</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form asp-action="SignUp" method="post">
					<input asp-for="UserName" class="text" type="text" placeholder="Username" required="">
					<span asp-validation-for="UserName" class="text-danger"></span>
					<span style="color:red">@ViewBag.errUsername</span>


					<input asp-for="Password" class="text" type="password" placeholder="Password" required="">
					<span asp-validation-for="Password" class="text-danger"></span>


					<input class="text w3lpass" type="password" name="confirmPassword" placeholder="Confirm Password" required="">
					<span style="color:red">@ViewBag.confirmPassword</span>


					<input asp-for="NumberCode" class="text" type="text" placeholder="NumberCode" required="">
					<span asp-validation-for="NumberCode" class="text-danger"></span>
					<span style="color:red">@ViewBag.errNumberCode</span>


					<input asp-for="Email" class="text email" type="email" placeholder="Email" required="">
					<span asp-validation-for="Email" class="text-danger"></span>
					<span style="color:red">@ViewBag.errEmail</span>


					<input asp-for="Class" class="text" type="text" placeholder="Class/Department" required="">

				@*	<input asp-for="Specification" class="text" type="text" placeholder="Specification" required="">

					<input asp-for="Section" class="text" type="text" placeholder="Section" required="">*@

					<input type="submit" value="SIGNUP">
				</form>
				<p>Have an Account? @Html.ActionLink("Login","Login","Users")</p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>©FPT APTECH</p>
		</div>
		<!-- //copyright -->
	</div>
	<!-- //copyright -->
	<ul class="colorlib-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
	
	<!-- //main -->
</body>
</html>