@model IEnumerable<EnvironmentalProtectionSurvey.Models.Option>

@{
    ViewData["Title"] = "Options";
}

<nav class="navbar default-layout">
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <h1>Options</h1>
    </div>
</nav>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Create New Options</a>
</p>

<div class="table-responsive mt-1">
    <table class="table select-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Question)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Question.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success"><span class="btn-label"><i class="fa fa-eye-slash"></i></span>View Option</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><span class="btn-label"><i class="fa fa-edit"></i></span>Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="btn-label"><i class="fa fa-trash"></i></span>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
