@model IEnumerable<EnvironmentalProtectionSurvey.Models.Survey>

@{
    ViewData["Title"] = "Surveys";
}

<nav class="navbar default-layout">
    <div class="navbar-menu-wrapper d-flex align-items-top">
        <h1>Surveys</h1>
    </div>
</nav>

<p>
    <a asp-action="Create" class="btn btn-outline-success"><span class="btn-label"><i class="fa fa-plus"></i></span>Create New Survey</a>
</p>

<div class="table-responsive mt-1">
    <table class="table select-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Form)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Form)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndAt)
                    </td>
                    <td>
                        <a asp-action="Question" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="btn-label"><i class="fa fa-eye"></i></span>View Question</a>
                        <a asp-action="TakeSurvey" asp-route-id="@item.Id" class="btn btn-outline-info"><span class="btn-label"><i class="fa fa-eye"></i></span>Take Survey</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success"><span class="btn-label"><i class="fa fa-info"></i></span>Info</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning"><span class="btn-label"><i class="fa fa-edit"></i></span>Edit</a>
                        <a asp-action="Hide" asp-route-id="@item.Id" class="btn btn-outline-danger"><span class="btn-label"><i class="fa fa-trash"></i>Hide</span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>